<div class="ngo-page">
<div class="container">
  <h2>
  Ngo list
</h2>
  <div class="row">
    <div class="col-md-4">
     <ul class="list-group">
       <a href="#" class="list-group-item clearfix" [routerLink]="['/profile', ngo.ngoObj.email]"
          *ngFor="let ngo of ngo">
         <div>
           <p class="list-group-item-heading">{{ngo.ngoObj.email}}</p>
           <button type="button" class="btn btn-primary btn-md" (click)="openCheckout()">Pay</button>
         </div>
       </a>
     </ul>
    </div>
  </div>
</div>
</div>
