<div class="auth-page">
  <div class="container">
    <div class="row">
  	<div class="col-md-3 offset-md-4 col-xs-9">
  		<div>
  			<h1>{{ title }}</h1>
  			<p>
  				<a [routerLink]="['/login']" *ngIf="authType == 'register' || authType == 'ngoregister'">Have an account?</a>
  				<a [routerLink]="['/register']" *ngIf="authType == 'login' || authType == 'ngoregister'">Register as a Donor account?</a>
        </p>
        <p>
          <a [routerLink]="['/ngoregister']" *ngIf="authType == 'register' || authType == 'login'">Want to Register as an NGO?</a>
        </p>

        <list-errors [errors]="errors"></list-errors>
  			<form [formGroup]="authForm" (ngSubmit)="submitForm()">
  				<fieldset [disabled]="isSubmitting">
  					<fieldset class="form-group">
  						<input
  						  formControlName="username"
  						  placeholder="Username"
  						  class="form-control form-control-lg"
  						  type="text"
  						  *ngIf="authType=='register'" required/>
  					</fieldset>
            <fieldset class="form-group">
              <input
                formControlName="username"
                placeholder="NgoName"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType=='ngoregister'"/>
            </fieldset>
  					<fieldset class="form-group">
  						<input
  						  formControlName="email"
  						  placeholder="Email"
  						  class="form-control form-control-lg"
  						  type="text" ngModel required/>
  					</fieldset>
            <fieldset class="form-group">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password" ngModel required/>
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="description"
                placeholder="Description"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType=='ngoregister'"/>
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="objective"
                placeholder="Objective"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType=='ngoregister'"/>
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="address"
                placeholder="Address"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType=='ngoregister'"/>
            </fieldset>
  					<button class="btn btn-success pull-left" type="submit">
  						{{ title }}
  					</button>
  				</fieldset>
  			</form>
  		</div>
  	</div>
    </div>
  </div>
</div>
